_site/
.sites-runtime/
functions/node_modules/
node_modules/
native/node_modules/
native/www/
native/android/
desktop/node_modules/
desktop/dist/
firebase-debug.log
firebase-debug.*.log
gha-creds-*.json
.DS_Store
Thumbs.db
